.checkout-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3rem;
    text-align: center;
}

.billing-title{
    text-align: center;
    margin: 2rem 0rem;
}

.checkout-element{
    margin: 2rem 0rem;
    text-align: center;
}

.order-title{
    margin-top: 4rem;
    padding-top: 2rem;
    border-top-style: solid;
    border-width: 0.3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.order-price{
    padding-left: 6rem;
    padding-bottom: 4rem;
    border-bottom-style: solid;
    border-width: 0.3rem;
}
td p{
    margin: 0.5rem;
}

.bank-transfer-element p{
    text-align: center;
}

.bank-transfer-simbol svg{
    fill: purple;
}

.paypal-element p{
    text-align: center;
}