/*====================
========Form==========
======================*/

.top-text{
    margin-bottom: 5rem;
}

.top-text h1{
    text-align: center;    
    text-shadow: $shadow-color;
}

.text-info{
    margin-bottom: 2rem;
}

.text-info h2{
    text-align: left;
}

.contact-info{
    display: flex;
}

.contact-svg{
    display: flex;
    justify-content: left;
    margin-right: 5%;
    color: $secondary-color;
}

.contact-svg svg{
    width: 3rem;
    height: 3rem;
}

.contact-text{
    margin-top: 2%;
    margin-bottom: 3rem;
}

.form-element-input input{
    width: 96%;
    padding: 0.5rem 2%;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: $shadow-color; 
    box-shadow: $shadow-color;
}

.form-element-label label{
    color: $laberl-box-color;
    text-shadow: $shadow-color;
}

.form-element-input{
    display: flex;
    justify-content: center;
}

.form-element-input textarea{
    width: 100%;
    height: 5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: $shadow-color; 
    box-shadow: $shadow-color;
}

.form-element-button{
    float: right;
    margin-top: 5%;
}

.form-element-button button{
    padding: 0.5rem 1rem;
    background-color: $secondary-color;
    border-radius:  0.5rem;    
    color: $laberl-box-color;
    -webkit-box-shadow: $shadow-color; 
    box-shadow: $shadow-color;
    cursor: pointer;
}

.form-element-button button:hover{
    background-color: $secundary-color-darker
}




