.cart-title{
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0rem;
}

.cart-products{
    width: 95%;
    margin-left: 0.7rem;
}

.cart-product-element{
    border-top-style: solid;
    border-top-width: 0.2rem;
    margin-top: 3rem;
    padding-top: 3rem;
}

.cart-product-description-element{
    margin-top: 1rem;
}

.plus-minus-container{
    display: flex;
    margin-top: 1rem;
}

.cart-procut-price{
    text-align: center;
    margin-top: 1rem;
}

.products{
    text-align: center;
    border-bottom-style: solid;
    border-width: 0.2rem;
    padding-bottom: 0.5rem;
}

.product-name-element p{
    text-align: center;
}

.column-top-decoration{
    border-top-style: solid;
    border-top-width: 0.2rem;
}

.cart-buy-button button{
    padding: 0.4rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
    margin: 5rem 0rem;
    margin-left: 15rem;
}

.recomendations-title{
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0rem;
    margin-bottom: 2rem;
}

.cart-recomendation-product{
    width: 95%;
    margin-left: 0.7rem;
    margin-top: 5rem;
}

.cart-add-button button{
    padding: 0.2rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
    margin-left: 12rem;
}

.recomendation-text-element{
    display: flex;
}
    
.copyright{
    margin-top: 2rem;
}




