.products-title{
    text-align: center;
    margin-top: 3rem;
}

.select-option{
    margin: 2rem 0rem;
}

.select-option{
    text-align: center;
}

.select-option select{
    padding: 0.4rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
    width: 60%;
}

.select-option option{
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 0%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

.product-element{
    margin: 2rem 0rem;
    padding-top: 2rem;
    text-align: center;
    border-top-style: solid;
    border-width: 0.3rem;
}

.product-image{
    margin-left: 0.6rem;
    width: 95%;
}

.product-price{
    margin: 1rem 0rem;
}

.product-price p{
    text-align: center;
    font-size: 4rem;
}

.product-details button{
    padding: 0.4rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

