.FAQS-content{
    max-width: 80%;
    margin: 3rem 10rem;
    text-align: center;


}

.page-title{
    padding: 1rem 10rem;
    margin-bottom: 5rem;
    border-radius: 5rem;
}

.question{
    position: relative;
    z-index: 1010;
    border-style: solid;
    border-width: 0.2rem;
    margin-top: 5rem;
    padding: 1rem 2rem;
    background-color: $primary-color-light;
    box-shadow: 0px 5px 6px 2px #000000;
    border-radius: 1rem;
}

.question:hover{
    position: relative;
    background-color: rgb(114, 114, 114);  
}

.question-title{
    display: flex;
    z-index: 1010;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    border-bottom-style: solid;
    border-width: 0.2rem;
    padding-bottom: 0.5rem;
    border-color: black;
}

.question-title-icon{
    transform: rotate(180deg);
    transition: 0.5s;
}

.question-title-icon svg{
    width: 2rem;
    height: 2rem;
    fill: white;

}

.question-content p{
    pointer-events: none;
    position: relative;
    color: rgba(255, 255, 255, 0);
    margin-top: -6rem;
    padding: 2rem 3rem;
    transition: 2s;
    border-radius: 1rem;
}


.question-content.active p{
    display: block;
    position: relative;
    z-index: 980;
    color: rgb(255, 255, 255);
    transition: 1s;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    transition: 3s;
    background-color: $primary-color-light;
    box-shadow: 0px 5px 6px 2px #000000;
    
    
}


.question-title-icon.active{
    transform: rotate(360deg);
    transition: 0.5s;
}