header{
    display: flex;
    max-width: 100%;
    padding: 0.5rem 4rem;
    background-color: $primary-color-light;

    .menu{
        gap: 1rem;

        .menu_element{
            cursor: pointer;
        }
    }

}
  




