/*====================
========product======
======================*/

.column-decoration{
    padding-right: 2rem;
    border: $secondary-color;
    border-right-style: solid;
}

.main-image{
    display: flex;
    justify-content: center;
}

.secundary-image-element{
    margin: 0.5rem;
    margin-top: 2rem;
}

.column-aside-decoration{
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
}

.product-description p{
    text-align: center;
}

.product-title{
    display: flex;
    justify-content: center;
}

.product-quantity{
    margin-top: 5rem;
}

.product-quantity-text{
    margin-top: 0.6rem;
}

.product-quantiy-number{
    display: flex;
    justify-content: right;
    padding: 0.5rem;
    display: flex;
}

.product-quantiy-number-element p{
    color: $shadow-color;
}

.product-quantiy-number-element-number p{
    font-style: normal;
}

.buy{
    display: flex;
    justify-content: right;
    margin-top: 2rem;
    gap: 2rem;
    right: 0rem;
}
.cart{
    display: flex;
    justify-content: right;
    margin-top: 0.4rem;
}

.cart svg{
    fill: $secondary-color;
    width: 40%;
    height: 50%;
    margin: 0%;
    cursor: pointer;
}

.buy-button{
    margin-right: 0rem;
}

.buy-button button{
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: $secondary-color;
    border-radius:  0.5rem;    
    color: $laberl-box-color;
    -webkit-box-shadow: $shadow-color;
    box-shadow: $shadow-color;
    cursor: pointer;
}