.FAQS-content{
    max-width: 95%;
    margin-left: 0.7rem;
    text-align: center;


}

.page-title{
margin-top: 2rem;
}

.question{
    margin-top: 3rem;
}

.question-title{
    border-style: solid;
    border-width: 0.2rem;
    background-color: $primary-color-light;
    box-shadow: 0px 5px 6px 2px #000000;
    border-radius: 1rem;
    z-index: 1001rem;
}

.question-title-text h2{
    font-size: 1.2rem;
    font-weight: bold;
    
}

.question-content.active p{
    display: block;
    z-index: 970;
    color: rgb(255, 255, 255);
    transition: 1s;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    transition: 1s;
    background-color: $primary-color-light;
    box-shadow: 0px 5px 6px 2px #000000;
    
    
}

.question-title{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom-style: solid;
    border-width: 0.2rem;
    padding: 0.5rem;
    border-color: black;
}

.question-title-icon{
    transform: rotate(180deg);
    transition: 0.5s;
    margin-right: 0.5rem;
}

.question-title-icon svg{
    width: 2rem;
    height: 2rem;
    fill: white;
}

.arrowActive{
    transform: rotate(0deg);
    transition: 0.5s;
}


.question-content{
    position: absolute;
    pointer-events: none;
    margin-top: -4rem;
    padding: 2rem;
}

.question-content p{
    color: rgba(255, 255, 255, 0);
    
}

.answerActive{
    position: static;
    display: block;
    margin-top: 0rem;
    color: rgb(255, 255, 255);
    transition: 1s;
    background-color: $primary-color-light;
    background-color: $primary-color-light;
    box-shadow: 0px 5px 6px 2px #000000;
    border-radius: 1rem;
    z-index: 800rem;
    
}

.answerActive p{
    margin-top: 0.5rem;
    color: rgb(255, 255, 255);

    
}