.menu-mobile{
    display: block;
    position: sticky;
    padding: 5rem 40%;
    z-index: 1002;
    justify-content: center;
}

.menu_element-mobile h1{
    position: sticky;
    text-align: center;
    text-shadow: 3px 1px 2px hsl(0, 11%, 4%);
    font-size: 1.5rem;
    margin-top: 5rem;
    margin: 5rem 0rem;
} 

.list-item {  
    padding:1rem 100%;  
    list-style:none;
}  

.nav-link{  
    color:inherit;  
    text-decoration:none;  
}  

.ham{  
    display:none;  
    padding:5px;  
    cursor:pointer;  
}  

.bar1,.bar2,.bar3{  
    display:block;
    z-index: 1005;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#ffffff;  
    transition: 0.4s;  
} 

.nav-sub{
    left: 0%;
    right: 0%;
    position: fixed;
    top: -100rem;   
    z-index: 1002;
    background-color:hsl(0, 0%, 23%);
    transition:top 2s; 
}

.nav-change{ 
    display: flex;
    z-index: 1002;
    top: 0%; 
    bottom: 0%;
    transition: 1s;
}  

.ham{  
    display:block;
    position: fixed; 
    top: 0rem;
    right: 0rem; 
    z-index: 2000;
}  

.change .bar1 {
    
    position: fixed;
    position: absolute;   
    transform: rotate(45deg) translate(6px,3px); 
    z-index: 1005; 
}  
.change .bar2 { 
    z-index: 1005;
    opacity: 0;  
}  
.change .bar3 {
    position: absolute;  
transform: rotate(-45deg) translate(6px,-3px);  
z-index: 1005;
}