.pop-up-cart{
    display: none;
    position: absolute;
    background-color: hsla(0, 72%, 52%, 0.137);
    padding: 0.5rem;
    border-radius: 2rem;
    gap: 1rem;
}

.pop-up-cart-active{
    display: flex;
    top: 66rem;
    left: 4.6rem;
}


.pop-up-cart-svg svg{
    display: none;
}
