.slider{
    padding: 0.2rem;
    border-radius: 20rem;
	transition: 0.5s;
	text-decoration: none;
    z-index: 5rem;
    position: 2rem;
}

.slider-image{
    padding: 0.5rem;
    position: relative;
    height: 100%;
    z-index: 1000rem;
}

.slider-text-title{
    position: absolute;
    z-index: 1003rem;
    top: 45%;
    left: 40%;
    margin-right: 0.5rem;
    background-color: hsla(0, 0%, 0%, 0.76);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.slider-text-subtext{
    position: absolute;
    z-index: 1003rem;
    top:30%;
    right: 12%;
    background-color: hsla(0, 0%, 0%, 0.76);
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
}