.main-image{
    margin-top: 2rem;
    width: 95%;
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
}

.product-description{
    text-align: center;
    margin: 1rem auto;
}

.product-description-select{
    margin: 1rem 8rem;
    margin-top: 2rem;
}

.product-description-select select{
    padding: 0.4rem 1rem;
    background-color: rgb(223, 18, 18);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

.product-description-select option{
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius:  0.5rem;    
    color: hsl(0, 0%, 0%);
    -webkit-box-shadow: 0px 3px 1px 0px #000000; 
    box-shadow: 0px 3px 1px 0px #000000;
}

.buy{
    display: flex;

    .cart svg{
        fill: rgb(223, 18, 18);
        width: 20%;
        height: 100%;
        margin-left: 1rem;
        margin-top: 0.2rem;
    }

    .buy-button{
        margin-top: 2rem;
    }
}


.buy-button button{
    margin-top: -2rem;
    padding: 0.5rem 1rem;
    background-color: $secondary-color;
    border-radius:  0.5rem;    
    color: $laberl-box-color;
    -webkit-box-shadow: $shadow-color;
    box-shadow: $shadow-color;
}

.copyright{
    text-align: center;
}

.author{
    text-align: center;
}

