/*====================
========Featured======
======================*/

.featured{
    width: 100%;
}

.featured-title{
    margin: 3em 0;
    text-align: center;
}

.featured-elements{
    display: flex;
    justify-content: space-between;
}

.featured-element{
    margin:0.5rem;
    width: 25%;
}

.featured-element-text-title{
    margin-bottom: 0.5em;
}

.featured-element-text-title h5{
    color:hsl(0, 77%, 63%);
    text-shadow: 3px 0px 2px hsl(0, 11%, 4%);
}

.featured-element-text-description{
    margin: 5% auto;
}

.featured-element-text-author{
    margin-top: 5%;
}

.offer{
    margin: 5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offer-text{
    padding: 0.5rem;
    width: 90%;
}

.offer-text-description{
    margin-top: 40%;
}

.offer-image{
    width: 70%;
}

.footer-element{
    display: block;
}

.copyright{
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.author{
    margin-bottom: 1em;
    text-align: center;
}