.pop-up-cart{
    display: flex;
    position: absolute;
    top: -100rem;
    right: 0rem;
    background-color: hsla(0, 72%, 52%, 0.137);
    padding: 1rem 2rem;
    border-radius: 2rem;
    gap: 1rem;
}

.pop-up-cart-active{
    top: 29rem;
    right: 15rem;
}


.pop-up-cart-svg svg{
    fill: $secondary-color;
    height: 3rem;
}

.pop-up-cart-text{
    margin-top: 0.8rem;
}