.pop-up{
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: hsla(0, 72%, 52%, 0.137);
    padding: 3rem;
    border-radius: 2rem;
    gap: 0rem;
}

.pop-up-cart{
    justify-content: right;
    align-items: right;
    margin-left: 5rem;
}

.pop-up-cart svg{
    fill: $secondary-color;
    width: 40%;
    height: 40%;
    justify-content: right;
}