.remove-confirmation{
    position: absolute;
    padding: 3rem 7rem;
    top: -100rem;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
    box-shadow: 2px 3px 6px 4px #000000;
    
}

.remove-confirmation-active{
    position: absolute;
    top: 20rem;
    left: 25rem;
    z-index: 1050;
}

.remove-confirmation-title{
    margin-left: 2rem;
}

.remove-confirmation-buttons{
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
}