/*====================
  ========Body==========
  ======================*/
 
 
 /*** Table Styles **/

 .tables{
   display: flex;
  width: 100%;
 }
 
 .tablefill {
    width: 95%;
    height: 95%;
    margin-left: 2rem;
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    max-width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    

 }
 
 .maintable{
  width: 20%;
  height: 100%;
  margin-left: 2rem;
  transition: all 1s;
  .column-hide{
     display: none;
  }
}

 .maintable td{
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 0.8em;
    transition: all 1s;
 }

 .maintable th{
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
  transition: all 1s;
}

 .maintable svg{
    width: 1rem;
    transition: all 1s;
 }
  
 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:23px;
   font-weight: 100;
   padding:24px;
   text-align:center;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
   transition: all 1s;
 }
 
 th:first-child {
   border-top-left-radius:3px;
 }
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 }
   
 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom: 1px solid #C1C3D1;
   color:#666B85;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
   transition: all 1s;
 }
  
 tr:hover td {
   background:#4E5066;
   color:#FFFFFF;
 }
  
 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr:nth-child(odd) td {
   background:#EBEBEB;
 }
  
 tr:nth-child(odd):hover td {
   background:#4E5066;
 }
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:#FFFFFF;
   padding:20px;
   text-align: center;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
   transition: all 1s;
 }

 td.first-column {
   width: 5%;
 }
 
 td:last-child {
   border-right: 0px;
 }
 
 th.text-left {
   text-align: left;
 }
 
 th.text-center {
   text-align: center;
 }
 
 th.text-right {
   text-align: right;
 }
 
 td.text-left {
   text-align: left;
 }
 
 td.text-center {
   text-align: center;
 }
 
 td.text-right {
   text-align: right;
 }

 th.first-column{
     width: 10%;
 }

 th.last-column{
    width: 0.5%;
 }

 .edit-remove-buttons{
     display: flex;
     justify-content: center;
     gap: 1rem;
 }

 .sidetable{
    position: absolute;
    top: 8.2rem;
    width: 70%;
    right: 1rem;
    background-color: rgb(182, 182, 182);
    transition: all 1s;
    border-radius: 0.5rem;
    }

 .sidetablehide{
  position: absolute;
  right: -150rem;
  transition: all 1s;
}

.form-element-label{
  margin: 1rem auto;
  margin-top: 2rem;
  border-bottom-style: solid;
}

.form-element-label label{
  color: rgb(32, 32, 32);

}

.form-element-input input{
  width: 100%;
  border-radius: 5rem;
}

// .text-desapear{
//   display: none;
//   background-color: #00050e;
// }


/*======================
  ========SideTable=====
  ======================*/

.sidetable-down-up{
  margin-top: 7.5rem;
  transition: 1s;
}

.sidetable-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1.5rem;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: hsl(0, 0%, 0%) ;
}

.sidetable-header-elements{
  display: flex;
  align-items: center;
  gap: 1.5rem
}

.sidetable-header-windows, .sidetable-header-options{
  display: flex;
}

.sidetable-header-element{
  display: flex;
  padding: 1rem;
}

.sidetable-header-Images h3{
  color: red;
}

.sidetable-header-svg{
  width: 1.5rem;
  margin-top: 0.3rem;
}

.sidetable-header-svg svg{
  width: 100%;
  height: 100%;
}

.sidetable-header-onoff{
  display: flex;
}

.category-options select{
  margin-top: 0.5rem;
  width: 95%;
  height: 90%;
  padding: 0.1rem;
}

.name-options input{
  margin-top: 0.5rem;
  width: 90%;
  height: 90%;
  padding: 0.1rem;
}

.lenguage{
  margin: 3rem 0rem;
  margin-left: 0rem;
  width: 100%;
}

.container-tabs-local{
  width: 100%;
  display: flex;
}

.line{
  border: solid;
  border-width: 0.1rem;
  margin-top: 1rem;
  color: #00050e;
}

.description{
  border-top: solid;
  border-width: 0.3rem;
  border-color: hsl(0, 0%, 0%);
  margin-bottom: 1rem;
}

.description-title{
  margin-top: 1rem;
}

.description-title h3{
  color: #00050e;
}

.name-title h3{
  color: #00050e;
}

.category-title h3{
  color: #00050e;
}

.description-title-text{
  margin-top: 1rem;

}

.description-title-text input{
  padding: 0.1rem;
  width: 90%;
  height: 90%;
}


.description-info textarea{
  margin-top: 0.5rem;
  width: 90%;
  height: 100%;
  padding-bottom: 5rem;
}


.save{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: auto;
  justify-content: center;
  z-index: 1005;
  right: 0rem;
  top: 0rem;
  align-items: center;
  background-color: #00050e86;
  gap: 15rem;
  transition: all 0.5s;
}

.saveHide{
  position: absolute;
  top: -150rem;
  transition: all 0.5s;
}

.button-decoration button{
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #4CAF50;
}

.save-button button{
  background-color: rgb(111, 160, 233);
}

.cancel-button button{
  background-color: rgb(177, 29, 29);
}